*{
    margin: 0;
    font-family: Helvetica,sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-1{
    width: 26.5%;
}

.col-1{
    position: fixed;
}

.col-2{
    margin-left: 26.5%;
    width: 39.5%;
}

.col-3{
    width: 32%;
}

.t-border{
    border-right: solid 0.3px #e6ecf0;
    border-bottom: solid 0.3px #e6ecf0;
    border-left: solid 0.3px #e6ecf0;
}

/* ----------- ----------- ----------- Coluna 1 ----------- ----------- ----------- */

.menu-items{
    margin-top: 6px;
    margin-left: 142px;
}

.twitter-icon{
    margin-left: 2px;
    padding: 8px 6px 4px 10px;
    border-radius: 45px;
    width: 34px;
}

.twitter-icon:hover{
    background-color: #e8f5fe;
}

.first-item{
    margin-top: 14px;
}

.items{
    padding: 6px 0 6px 12px;
    margin-bottom: 10px;
    border-radius: 45px;
    width: 80%;
}

.first-item p{
    color: #1d96e0;
}

.items img{
    margin-right: 20px;
}
.items p{
    margin-top: 7px;
    font-size: 18px;
    font-weight: 700;
}

.items:hover{
    background-color: #e8f5fe;
    color: #1d96e0
}

.profile img{
    width: 31px;
    height: 31px;
    border-radius: 45px;
}

.tweet-btn p{
    text-align: center;
}

/* ----------- ----------- ----------- Coluna 2 ----------- ----------- ----------- */

.home{
    position: fixed;
    width: 39.46%;
    height: 53px;
    background-color: white;
}

.home p{
    margin-top: 12px;
    margin-left: 14px;
    font-size: 18px;
    font-weight: 900;
}

.home img{
    width: 28px;
    float: right;
    margin-top: 5px;
    margin-right: 18px;
}

.publish{
    margin-top: 53px;
    height: 120px;
    border-bottom: solid 10px #e6ecf0;
}

.img-div{
    margin: 8px 10px 0 14px;
}

.img-div img{
    width: 48px;
    border-radius: 45px;
}

textarea{
    resize: none;
    overflow: hidden;
    width: 100%;
    border: white;
    margin-top: 20px;
}

.publish-btn{
    padding-top: 10px;
}

.publish-btn img{
    width: 22px;
    margin: 7px 20px 7px 0;
}

.txt-profile p{
    font-size: 16px;
    margin: 14px 0 14px 6px;
    color: #85939f;
}
.txt-profile b{
    font-size: 16px;
    margin: 14px 0 14px 6px;
}


.txt-profile img{
    width: 15px;
}

.txt-publication{
    margin-top: -10px;
}

.txt-publication p{
    margin: 0 0 8px 6px;
    max-width: 95%;
}

.txt-publication img{
    width: 97%;
}

.txt-publication video{
    width: 97%;
    border-radius: 16px;
}

.txt-publication span{
    color: #289be2;
    margin: 0 0 8px 6px;
}

.gif img{
    border-radius: 16px;
    width: 97%;
}

.publication-btn{
    margin-bottom: 10px;
}

.publication-btn img{
    width: 18px;
    margin: 7px 20px 7px 0;
}

.publication-btn p{
    color: #85939f;
    font-size: 15px;
    margin: 8px 65px 0 -9px;
}

/* ----------- ----------- ----------- Coluna 3 ----------- ----------- ----------- */
