*{
    font-family: Helvetica,sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col-1,
.col-3{
    width: 246px;
}

.col-1{
    position: fixed;
}

.col-2{
    margin-left: 395px;
    width: 600px;
}

.t-border{
    border-right: solid 0.3px #e6ecf0;
    border-bottom: solid 0.3px #e6ecf0;
    border-left: solid 0.3px #e6ecf0;
}

.twitter-icon{
    margin-left: 150px;
}

.items{
    margin-left: 150px;
    margin-bottom: 0px;
    border-radius: 45px;
    width: auto;
}

.first-item{
    margin-top: 10px;
}

.first-item p{
    color: #1d96e0;
}

.items img{
    margin-right: 20px;
}
.items p{
    font-size: 18px;
    font-weight: 700;
}

.items:hover{
    background-color: #e8f5fe;

}

.profile img{
    margin-top: 10px;
    width: 32px;
    height: 32px;
    border-radius: 45px;
}

.home{
    top: 0;
    position: fixed;
    width: 600px;
    height: 55px;
    background-color: white;
}

.home img{
    float: right;
    margin-right: 18px;
}

.home p{
    margin-left: 14px;
    font-size: 18px;
    font-weight: 900;
}

.publish{
    margin-top: 47px;
    height: 120px;
    border-bottom: solid 10px #e6ecf0;
}



.img-div{
    margin: 8px 10px 0 14px;
}

.img-div img{
    width: 48px;
    border-radius: 45px;
}

textarea{
    resize: none;
    overflow: hidden;
    width: 100%;
    border: white;
    margin: 8px 0 8px 0;
}

.publish-btn{
    align-items: center;
}

.publish-btn img{
    width: 22px;
    margin: 7px 20px 7px 0;
}

.txt-profile p{
    font-size: 16px;
    margin: 14px 0 14px 6px;
    color: #85939f;
}
.txt-profile b{
    font-size: 16px;
    margin: 14px 0 14px 6px;
}

.txt-publication p{
    margin: 0 0 8px 6px;
    max-width: 95%;
}

.publication-btn{
    margin-bottom: 10px;
}

.publication-btn img{
    width: 18px;
    margin: 7px 20px 7px 0;
}

.publication-btn p{
    color: #85939f;
    font-size: 15px;
    margin: 8px 65px 0 -6px;
}